.idea/
.DS_STORE
out/
logs/
src/Server/node_modules/
src/Translator/at.js
src/Translator/bt.js
src/Translator/main.js
src/Translator/mt.js
src/Translator/node_modules/
src/Deployer/node_modules/
src/Server/package-lock.json